@charset "utf-8";
/* CSS Document */
body {
	padding-top: 15px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 80px;
	background-color: #FFFEE5;
}

h1 {
	color:#DD5456;
	font-size: 35px;
}

h3 {
	color:#DD5456;
	font-size: 25px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 12px;
}

p {
	font-size: 16px;
	font-weight: 400px;
	line-height: 22px;
}

.botonera {
	width: 120%;
	height: 10%;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 20px;
}

nav ul li {
	display: inline;
	margin: 20px;
}

.botonera a {
	text-decoration: none;
	color: #000;
}



