@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500;800&display=swap');


* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 15px 80px 80px 80px;
	display: flex;
	flex-direction: column;
	font-family: Lato;
	background: linear-gradient(55deg, pink, #FFFEE5, pink, #132E97);
	background-size: 200% 200%;
	animation: gradientAnimation 4s ease infinite;
}


h1 {
	color:#DD5456;
	font-size: 62px;
	font-family: Montserrat;
	font-weight: 800;
}

h3 {
	color:#DD5456;
	font-size: 25px;
	font-family: Montserrat;
	line-height: 14px;
	margin-top: 55px;
	margin-bottom: 15px;
}

h4 {
	font-size: 16px;
	line-height: 12px;
	font-family: Montserrat;
	color: #132E97;
	margin-top: 12px;
}

h5 {
	font-size: 12px;
	line-height: 5px;
	font-family: Montserrat;
	color: #DD5456;
	margin-bottom: 5px;
	margin-top: 30px;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 5px;
	font-family: Lato;
	max-width: 60%;
}

main {
	margin-top: 80px;
}

/* BOTONERA */

header {
	position: fixed;
	z-index: 2;
	width: 90%;
}

.nav-botonera{
	display: flex;
	justify-content: flex-end;
	border-radius: 7px;
	background: rgba(255, 172, 173, 0.6);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
}


.botonera {
	font-size: 13px;
	font-family: Montserrat;
	display: flex;
	flex-direction: row;
	padding: 15px 0px 15px 100px;
	margin: 10px;
	list-style: none;
	transition: 0.5s;
	object-fit: cover;
}

.botonera a {
	text-decoration: none;
	color: #FFFEF4;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	transition: 0.5s;
	object-fit: cover;
}

.botonera a:hover {
	transform: scale(1.2);
}


/* FOOTER */

footer {
	padding: 10px;
	background-color: #FFACAD;
	border-radius: 7px;
	display: flex;
	justify-content: flex-end;
	margin-top: 60px;
}

footer p {
	color: #FFFEF4;
	font-style: italic;
	font-size: 13px;
}


/* REDES Y DATOS */

ul.redes {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

ul.redes a img {
	margin-top: 10px;
	margin-right: 15px; 
}

ul.datospersonales-lista {
	font-size: 16px;
	margin-top: 20px;
	margin-right: 50px;
	list-style: none;
	line-height: 25px;
}


/* PRESENTACION */

.contenedor img {
	border-radius: 5%;
	transition: 0.5s;
	object-fit: cover;
	margin-right: 50px;
}

.contenedor img:hover {
	transform: scale(1.2);
}

.contenedor {
	display: flex;
	margin-top: 40px;
	margin-bottom: 100px;
}

.sobremi {
	margin-top: 70px;
}

button {
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	font-family: Lato;
	font-weight: 800;
	background-color: #FFACAD;
	border-color: none;
}

button:hover {
	transform: scale(1.2);
	transition: 0.5s;
	object-fit: cover;
}


button a {
	text-decoration: none;
	color: #FFFEF4;
	font-family: Lato;
}



/* TRABAJOS */

.proyectos {
	padding: 10px 20px 55px 30px;
	background: rgba(221, 84, 86, 0.20);
	border-radius: 15px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
}

.cards {
	width: 20%;
	padding-top: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
}

.box img{
	margin-left: 5px;
	margin-right: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	transition: 0.5s;
	object-fit: cover;
}

.box img:hover {
	transform: scale(1.2);
}

.contenido h4 {
	color: #132E97;
	margin: 25px 0px 7px 15px;
	line-height: 20px;
	font-size: 16px;
}

.contenido p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 5px 60px 5px 15px;
	max-width: 70%;
}


/* OTROS DATOS */

.contenedores {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 55px;
	max-width: 200%;
	gap: 30px;
}

.cajas1 {
	margin-right: 25px; 
	margin-left: 43px;
}

.cajas2 {
	margin-right: 90px;
	margin-left: 50px;
}


article.educacion p {
	font-size: 12px;
	font-weight: 600;
}

ul.idiomas-lista {
	list-style: none;
	line-height: 25px;
}

ul.habilidades-lista {
	list-style: none;
	font-weight: 600;
}

ul.habilidades-lista li {
	line-height: 25px;
	padding-top: 5px;
}

ul.herramientas-lista {
	list-style: none;
	line-height: 25px;
	display: flex;
	flex-direction: column;
	font-weight: 600;
}

ul.herramientas-lista li {
	display: flex;
	flex-direction: row;
}

ul.herramientas-lista li img {
	margin: 5px 10px 5px 0px;
	gap: 10px;
}

/*CARROUSEL*/

.carrousel {
	width: 100%;
	max-width: 90%;
	padding: 20px 10px 10px 10px;
	margin-top: 20px;
	border-radius: 10px;
	background: rgba(221, 84, 86, 0.20);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
	overflow:hidden;
}

.carrousel h4 {
	padding-left: 35px;
	padding-bottom: 20px;
}


.carrousel .grande {
	width: 200%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 20px 20px 40px 9px;
	transition: all .5s ease;
	gap: 7px;
}

.carrousel .img {
	border-radius: 10px;
	background: rgba(221, 84, 86, 0.20);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
}

.carrousel .puntos {
	width: 100%;
	padding: 4px;
	margin: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.carrousel .punto {
	width: 20px;
	height: 20px;
	margin: 5px;
	list-style: none;
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow:  20px 20px 60px #bebebe,
	-20px -20px 60px #ffffff;
	background-color: #DD5456;
}


/* FORMULARIO DE CONTACTO */


form {
	width: 100%;
	height: auto;
	display: flex;
	padding-top: 30px;
	justify-content: center;
}

form div {
	width: 40%;
	height: auto;
	padding: 10px;
}

label {
	display: block;
	height: 25px;
	color:#132E97;
	font-family: Lato;
	font-weight: 800;
}

input {
	width: 70%;
	height: 25px;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 10px;
	font-family: Lato;
	font-weight: 800;
}

input[type=radio], input[type=checkbox] {
	width: auto;
	height: auto;
	border-radius: 30px;
}

input[type=submit], input[type=reset] {
	height: 30px;
	width: 40%;
	border-radius: 20px;
}

.borrar {
	background-color:antiquewhite;
}

.enviar {
	background-color:beige;
}

textarea {
	border: 1px solid black;
	width: 100%;
	height: 100px;
	border-radius: 10px;
}

.columna2 p {
	margin-top: 0px;
}





@media screen and (max-width: 600px) {
	
	h3, h4, p {
		line-height: 20px;
	}
	
	h5 {
		line-height: 15px;
	}
	
	.nav-botonera, .cards {
		flex-direction: column;
	}
	
	.sobremi p {
		line-height: 20px;
		width: 100%;
	}
	
	.sobremi h1 {
		line-height: 60px;
	}
	
	.contenido p {
		margin-bottom: 40px;
	}
	
	.contenedor {
		flex-direction: column-reverse;
	}
	
	.textos h3 {
		margin-top: 40px;
	}
	
	.contenedores {
		display: flex;
		flex-direction:column;
	
	}
	
	
	.cajas2 {
		margin-left: 40px;
	}
	
	body {
		padding-left: 50px;
		background: linear-gradient(#FFFEE5, pink, pink);
		background-size: 200% 200%;
		animation: gradientAnimation none;
	}
	
	.carrousel {
		width: 100%;
		max-width: 100%;
	}
	
	.proyectos {
		flex-wrap: wrap;
	}
	
}
	
	


@keyframes gradientAnimation {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
