@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;500&family=Roboto:wght@100;300&display=swap');
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 15px 80px 80px 80px;
	display: flex;
	flex-direction: column;
	background-color:#FFFEF4;
	font-family: Lato;
	background: linear-gradient(55deg, pink, #FFFEE5, pink);
	background-size: 200% 200%;
	animation: gradientAnimation 10s ease infinite;
}


h1 {
	color:#DD5456;
	font-size: 60px;
	font-family: montserrat;
	font-weight: 800;
	line-height: 45px;
	margin: 50px 0px 40px 0px;
}

h3 {
	color:#DD5456;
	font-size: 25px;
	font-family: montserrat;
	line-height: 14px;
	margin: 55px 0 15px 0;
}

h4 {
	font-size: 16px;
	line-height: 12px;
	font-family: montserrat;
	color: #132E97;
	margin-top: 15px;
}

h5 {
	font-size: 12px;
	line-height: 5px;
	font-family: montserrat;
	color: #DD5456;
	margin-bottom: 5px;
	margin-top: 30px;
}

p {
	font-size: 16px;
	font-weight: 400px;
	line-height: 22px;
	margin-top: 5px;
	font-family: Lato;
}

article {
	height: auto;
}


/* BOTONERA */

.nav-botonera{
	display: flex;
	justify-content: flex-end;
	background-color:#FFACAD; 
	border: 3px solid medium;
	border-radius: 7px;
	height: 100%;
}


.botonera {
	font-size: 13px;
	color: #FFFEE5;
	font-family: montserrat;
	display: flex;
	flex-direction: row;
	padding: 15px 0px 15px 100px;
	margin: 10px;
	list-style: none;
	gap: 0px;
}

.botonera a {
	text-decoration: none;
	color: #FFFEF4;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	transition: 0.5s;
	object-fit: cover;
}

.botonera a:hover {
	transform: scale(1.2);
}


/* FOOTER */

footer {
	width: 100%;
	height: 40px;
	background-color: #FFACAD;
	padding: 10px;
	border: 3px solid medium;
	border-radius: 7px;
	display: flex;
	justify-content: flex-end;
	margin-top: 60px;
	color: #FFFEF4;
}


/* REDES Y DATOS */

ul.redes {
	line-height: 20px;
	display: flex;
	flex-direction: row;

}

ul.redes a img {
	width: 40px;
	height: 40px;
}

ul.datospersonales {
	font-size: 14px;
	margin: 0 50px 0 0;
	list-style: none;
	line-height: 22px;
	
}

ul.idiomas {
	list-style: none;
	line-height: 22px;
}

/* PRESENTACION */

img {
	display: flex;
	width: 350px;
	border-radius: 5%;
	transition: 0.5s;
	object-fit: cover;
	margin-right: 50px;
}

img:hover {
	transform: scale(1.2);
}

.contenedor {
	display: flex;
	margin: 40px 0px 100px 0px;
}

.textos {
	align-self: center;
}


/* TRABAJOS */

.trabajos {
	background-color: #FFACAD;
	padding: 30px 20px 55px 30px;
}

.cards {
	width: 100%;
	padding: 20px 0px 0px 0px;
	margin: 5px 0px 5px 0px;
	display: flex;
	flex-direction: row;
}

.box img{
	width: 250px;
	height: 250px;
	margin: 0px 5px 0px 5px;
	align-items: center;
	box-sizing: border-box;
}

.contenido h4 {
	color: #132E97;
	margin: 25px 0px 7px 15px;
	line-height: 20px;
}

.contenido p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 5px 60px 5px 15px;
}


/* OTROS DATOS */

.contenedores {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 290px 0px 0px;
}

.cajas2 {
	margin: 0px 90px 0px 50px;
}

article.sobremi {
	padding-right: 40%;
	line-height: 60px;
}

article.educacion {
	margin: 0px 33px 10px 0px;
	line-height: 22px;
}

article.idiomas {
	margin: 0px 37px 10px 0px;
}

article.habilidades {
	margin: 0px 0px 10px 0px;
}

ul.habilidades{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

article.herramientas {
	margin: 0px 20px 10px 0px;
	line-height: 22px;
}

ul.herramientas {
	list-style: none;
	line-height: 22px;
}

@keyframes gradientAnimation {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}